*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
app/google-services.json
/.kotlin
personal_github_ssh_key.pub
personal_github_ssh_key
app/src/main/java/com/noteapp/ProjectStructure.kt